html, body {
    font-family: 'latin_modern_roman10_regular';
    height: 100%;
}

body {
    padding-top: 70px;
}
h2 {
    
    font-size: 16px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 700;
}

#wrap {
    height: auto !important;
    height: auto !important;
    margin: 0 auto -30px;
    min-height: 100%;
}

.logo {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.push { height: 30px; }

.chart {
    height: 300px;
    margin-top: 10px;
}

.code {
    font-family: "texgyrecursorregular";
    font-size: 10pt;
}

.navbar-fixed-bottom {
    margin: 2px;
}