@{
    ViewBag.Title = "Home";
}

<div class="panel panel-default">
    <div class="panel-heading code">
        &lt;div class=&quot;chart line&quot; data-url=&quot;/api/sample&quot; data-title=&quot;Line&quot;&gt;&lt;div&gt;
        
    </div>
    <div class="panel-body">
        <div class="chart line" data-url="/api/sample" data-title="Line"></div>    
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading code">
        &lt;div class=&quot;chart spline&quot; data-url=&quot;/api/sample&quot; data-title=&quot;Spline&quot;&gt;&lt;div&gt;
    </div>
    <div class="panel-body">
  <div class="chart spline" data-url="/api/sample" data-title="Spline"></div>
    </div>v
</div>

<div class="panel panel-default">
    <div class="panel-heading code">
        &lt;div class=&quot;chart bar&quot; data-url=&quot;/api/sample&quot; data-title=&quot;Bar&quot;&gt;&lt;div&gt;
    </div>
    <div class="panel-body">
        <div class="chart bar" data-url="/api/sample" data-title="Bar"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading code">
        &lt;div class=&quot;chart bar stacked&quot; data-url=&quot;/api/sample&quot; data-title=&quot;Bar - Stacked&quot;&gt;&lt;div&gt;
    </div>
    <div class="panel-body">
        <div class="chart bar stacked" data-url="/api/sample" data-title="Bar Stacked"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading code">
        &lt;div class=&quot;chart column&quot; data-url=&quot;/api/sample&quot; data-title=&quot;Column&quot;&gt;&lt;div&gt;
    </div>
    <div class="panel-body">
        <div class="chart column" data-url="/api/sample" data-title="Column"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading code">
    &lt;div class=&quot;chart column stacked&quot; data-url=&quot;/api/sample&quot; data-title=&quot;Column - Stacked&quot;&gt;&lt;div&gt;
    </div>
    <div class="panel-body">
    <div class="chart column stacked" data-url="/api/sample" data-title="Column - Stacked"></div>
    </div>
</div>
