<div class="chart line span5" data-url="/api/sample" data-title="Line"></div>
<div class="chart spline span5" data-url="/api/sample" data-title="Spline"></div>
<div class="chart bar span5" data-url="/api/sample" data-title="Bar"></div>
<div class="chart bar stacked span5" data-url="/api/sample" data-title="Bar (Stacked)"></div>
<div class="chart column span5" data-url="/api/sample" data-title="Column"></div>
<div class="chart column stacked span5" data-url="/api/sample" data-title="Column (Stacked)"></div>